<head>

<style>
#image {
  position: absolute;
  margin-left: 5%;
  margin-top: 8%;
  
}

#Login-Link{
    position: absolute;
    margin-left: 42%;
    margin-top: 50%;
    z-index: 1;
}
    </style>
</head>
@* id ye ulaşırken #
   class a ulaşırken .
   a ya ulaşırken direkt
*@
<body class="body">
    <div id="image">
       <img src="../registeration.jpg" alt="Succesful Registeration">                          
    </div>
    <div id="button">
     <a id="Login-Link" class="btn btn-dark" href="\Login\Index" role="button">Sign In</a>
    </div>
</body>