@model IsbikeVievModel
@{
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}
<h4 class="text-xl-center font-weight-bold">Deleting @Model.Id @Model.adi Station is succesful.</h4>

     <div class="col-md-12 text-center">
    <a  class="btn btn-dark" asp-controller="Isbike" asp-action="Index">Back to List</a>
     </div>
